@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}

.train {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ladder {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.train-drift {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rm-xl {
    margin-right: 32px;
}

.lm-m {
    margin-left: 8px;
}

.bm-s {
    margin-bottom: 4px;
}

.bm-m {
    margin-bottom: 8px;
}

.bm-l {
    margin-bottom: 16px;
}

.rm-xs {
    margin-right: 2px;
}

.rm-s {
    margin-right: 4px;
}

input[type="text"], select {
    width: 96px;
}

input[type="checkbox"], input[type="radio"] {
    width: 32px;
}

input[type="number"] {
    width: 64px;
}

.pointer {
    cursor: pointer;
}

/* input:not([type="text"]){
    width: 32px;
} */